RITUAL_RPC_HTTP=https://rpc.ritualfoundation.org
RITUAL_PRIVATE_KEY=0xYOUR_PRIVATE_KEY
NFT_CONTRACT_ADDRESS=0xYOUR_DEPLOYED_CONTRACT
NEXT_PUBLIC_CHAIN_ID=1979
NEXT_PUBLIC_RITUAL_RPC_HTTP=https://rpc.ritualfoundation.org
NEXT_PUBLIC_EXPLORER=https://explorer.ritualfoundation.org
